<div class="body-wrapper">
  <div class="objects-query-wrapper">
    <%= text_field_tag 'query-ip', nil, placeholder: "Ex: What's the state of Order Id=1 At timestamp=1484733173 ?" %>
    <%= submit_tag 'Query', id: 'query-btn' %>

    <div class="status-msg"></div>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag 'object_statuses/index' %>
  <%= stylesheet_link_tag 'object_statuses/index' %>
<% end %>

<% content_for :js do %>
  <script type="application/javascript">
    var object_status_url = '<%= get_object_changes_object_statuses_path %>';
  </script>
<% end %>
