<div class="body-wrapper">
  <div class="csv-upload-btn-wrapper">
    <%= form_tag(upload_csv_object_statuses_path, multipart: true) do %>
      <div><%= file_field_tag 'file' %><%= submit_tag 'Upload CSV', id: 'upload-submit' %></div>
    <% end %>

    <div class="update-status">
      <%= flash[:error] %>
    </div>
  </div>

  <div class="objects-query-wrapper">
    <%= select_tag 'object_type', options_for_select(ObjectStatus::OBJECT_TYPES) %>
    <%= text_field_tag 'object_id', nil, { placeholder: 'Enter ID... ', required: true } %>
    <%= text_field_tag 'timestamp', nil, { placeholder: 'Enter Timestamp... ', required: true } %>
    <%= submit_tag 'Find status' %>

    <div class="result-table-wrapper">

    </div>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_include_tag 'object_statuses/index' %>
  <%= stylesheet_link_tag 'object_statuses/index' %>
<% end %>
